.char {
  font-family: Constantia;
  position: relative;
  padding: 20px;
  color: white;
  font-size: 24px;
  width: 45%;
  margin-top: 50px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  .containerLoad {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(black, 0.7);
    margin: auto;
    display: none;
  }
  &__image img{
    width: 50%;
    
  }
  &__back {
    position: absolute;
    width: 100%;
  }
  &__back img {
    width: 100%;
    height: auto;
  }
  &__author {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
  }
  &__name {
    padding-bottom: 20px;
    padding-top: 4%;
    font-size: 32px;
  }
  &__imageBack {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  &__mainStat {
    padding-top: 9px;
    font-size: 20px;
  }
  .disappear {
    display: none;
  }
  .is-ready & {
    background-color: rgba(black, 0.9);
  }
  #refresh {
    padding-top: 20px;
    p {
      font-size: 18px;
      padding-top: 14px;
    }
  }
  #refresh:hover{
    cursor: pointer;
  }
}

.containerAppear {
  filter: blur(0.6rem);
  background-color: rgba($color: rgb(35, 51, 75), $alpha: 0.8);
}

.containerSlide {
  animation: slide 1.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
@keyframes slide {
  0% {

  }
  49% {
      transform: translateX(40%);
      opacity: 0;
  }
  50% {
      transform: translateX(-40%);
      opacity: 0;
  }
  100% {
      transform: translateX(0%);
      opacity: 1;
  }
}

#containerCharName {
  width: 100%;

    text-align: left;
    padding-left: 50px;
}
.containerRoleStat {
  display: flex;
  padding-top: 30px;
  #role {
    width: 50%;
  }
}
.containerRoles {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  font-size: 18px;
  .role2Padd {
    padding: 0 15px;
  }
}
.containerNameImage {
  display: flex;
  justify-content: space-between;
  background-color: grey;
  border-radius: 15px;
  
}
.containerNameImage img{
  clip-path: ellipse(252px 322px at 0% -12%);
}

#containerLogoStat {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
#containerWinRate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.winBorder {
  margin-top: 25px;
  height: 7px;
  width: 250px;
  background-color: grey;
  border-radius: 2px;
}

.winFill {
  height: 7px;
  width: 0%;
  background-color: green;
  transition: width 1s ease-out;
  border-radius: 2px;
}

#selectMode {
  font-family: Constantia;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin: auto;
  width: 40%;
  justify-content: space-evenly;
  h2 {
    font-size: 20px;
    padding: 15px;
  }
}
#containerSelect {
  color: white;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-evenly;
}
.blocSelect:hover img{
  cursor: pointer;
  animation: rotateAnim 3s infinite;
}


@keyframes rotateAnim {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(-90deg);
  }

  66% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
