body { background: #e8e8e8; }


video {
    width: 100%;
    height: 100%;
}
.wrap {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerGif {
    width: 440px;
    height: 230px;
}

ins.play-gif{

	display: none;
}


.gifplayer-wrapper{
	position:relative;
	display: inline-block;
	
}
.gifplayer {
	width: 100%;
}